.App {
  text-align: center;
  background-color: #fff;
  color: #444;
  height: 100vh;
}

.App-logo {
  height: 22vmin;
  pointer-events: none;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.App-body {
  min-height: 70vh;
}

.App-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 400px;
}

.App-form-field {
  display: flex;
  flex-direction: column;
  margin: 10px 0 15px;
  align-items: flex-start;
  width: 100%;
}

.App-form-field label {
  margin-bottom: 5px;
}

.App-form-field input {
  border: 2px solid #000;
  color: #444;
  font-size: 16px;
  padding: 5px 10px;
  height: 50px;
  outline: none;
  width: 100%;
  transition: all 0.30s ease-in-out;
}

.App-form-field input:hover {
  box-shadow: 0 0 5px #07afdd;
  border: 2px solid #07afdd;
}

.App-form-field input.error {
  box-shadow: 0 0 5px #ca2525;
  border: 2px solid #ca2525;
}

.App-form-field input::placeholder {
  color: #666;
}

.App-form select {
  appearance: none;
  border: 2px solid #000;
  border-radius: 0;
  background-color: #fff;
  background-image: url('../assets/arrow-down.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 98% 50%;
  color: #444;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  max-width: 100%;
  margin: 0;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  outline: none;
  padding: 5px 10px;
  transition: all 0.30s ease-in-out;
}

.App-form select:hover {
  box-shadow: 0 0 5px #07afdd;
  border: 2px solid #07afdd;
}

.App-form select.error {
  border: 2px solid #ca2525;
  box-shadow: 0 0 5px #ca2525;
}

.App-form button {
  background-color: #07afdd;
  border: 1px solid #07afdd;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  align-self: flex-end;
  width: 100px;
  height: 40px;
}

.App-form--error {
  color: #ca2525;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-bounce infinite 2.5s linear;
  }
}


@media screen and (max-width: 768px) {
  .App-form {
    width: 100%;
    padding: 0 20px;
  }

  .App-header {
    min-height: 10vh;
  }
}

@keyframes App-logo-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}